{% extends 'app/base.html.twig' %}

{% block title %}{{ name }} - Geoffrey Huck{% endblock %}
{% block canonical %}<link rel="canonical" href="{{ site_url }}{{ path('category_show', { url: url }) }}" />{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ name }}</h1>

        {% for articlePreview in articlePreviews %}
            <hr />

            <h2>{{ articlePreview.title }}</h2>
            <span>Published on {{ articlePreview.publishedDate | date('d/m/Y') }}</span>
            <br /><br />

            {{ articlePreview.content | raw }}
            <p>
                <a href="{{ path('article_show', { url: articlePreview.url }) }}">Read more...</a>
            </p>
        {% endfor %}
    </div>
{% endblock %}
