<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Geoffrey Huck">
        <title>{% block title %}Geoffrey Huck{% endblock %}</title>
        {% block canonical %}{% endblock %}
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
        {{ encore_entry_link_tags('app') }}
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            {{ encore_entry_link_tags('admin') }}
        {% endif %}
    </head>
    <body>
        {% for type, messages in app.session.flashBag.all() %}
            {% for message in messages %}
                <div class="flash flash-{{ type }}">{{ message }}</div>
            {% endfor %}
        {% endfor %}
        <nav>
            <div class="ban header">
                <div class="catch">
                    Learn,<br />
                    Compute,<br />
                    Think,
                </div>
                <a class="site-name" href="{{ path('homepage') }}">Geoffrey Huck</a>
                <div class="clearfix"></div>
            </div>

            <ul class="main-menu">
                <li>
                    <a href="{{ path('category_show', { url: 'deep-learning' }) }}">
                        Deep Learning
                    </a>
                </li>
                <li>
                    <a href="{{ path('article_show', { url: 'about-me' }) }}">
                        About Me
                    </a>
                </li>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <li>
                        <a href="{{ path('app_logout') }}" class="logout">Logout {{ app.user.email }}</a>
                    </li>
                {% endif %}
            </ul>
        </nav>

        {% block content %}

        {% endblock %}

        <footer>
            <div class="ban copyright-bar">
                Copyright © {{ 'now' | date('Y') }}
            </div>
        </footer>

        {{ encore_entry_script_tags('app') }}
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            {{ encore_entry_script_tags('admin') }}
        {% endif %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
