{% extends 'app/base.html.twig' %}

{% block title %}{% trans %}homepage.title{% endtrans %}{% endblock %}
{% block canonical %}<link rel="canonical" href="{{ url('homepage') }}" />{% endblock %}

{% block content %}
    <div class="container">
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <a href="{{ path('article_new') }}" class="btn float-right">
                Write a new article
            </a>
        {% endif %}
        <h1>{% trans %}homepage.h1{% endtrans %}</h1>

        {% for article in articles %}
            <hr />

            <div class="article-preview {% if not article.publishedAt %}unpublished{% endif %}">
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <a href="{{ path('article_edit', { url: article.url, _locale: article.language.code }) }}" class="btn float-right">
                        Edit article
                    </a>
                {% endif %}

                <h2>
                    <a href="{{ path('article_show', { url: article.url, _locale: article.language.code }) }}">{{ article.title }}</a>
                </h2>
                <span>{% trans %}Published on{% endtrans%} {{ article.publishedAt | date('d/m/Y') }}</span>
                <br /><br />

                {{ article.preview | raw }}
                <p>
                    <a href="{{ path('article_show', { url: article.url, _locale: article.language.code }) }}">{% trans %}Read more...{% endtrans %}</a>
                </p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
