{% extends 'app/base.html.twig' %}

{% block title %}Geoffrey Huck - Learn, compute, think{% endblock %}
{% block canonical %}<link rel="canonical" href="{{ site_url }}" />{% endblock %}

{% block content %}
    <h1>Homepage, baby !</h1>

    {% for articlePreview in articlePreviews %}
        <hr />

        <h2>{{ articlePreview.title }}</h2>
        <span>Published on {{ articlePreview.publishedDate | date('d/m/Y') }}</span>
        <br /><br />

        {{ articlePreview.content | raw }}
        <p>
            <a href="{{ path('article_show', { url: articlePreview.url }) }}">Read more...</a>
        </p>
    {% endfor %}
{% endblock %}
