{% extends 'app/base.html.twig' %}

{% block title %}New theme - Geoffrey Huck{% endblock %}
{% block canonical %}<link rel="canonical" href="{{ site_url }}{{ path('theme_new') }}" />{% endblock %}

{% block content %}
    <div class="container">
        <h1>New theme</h1>

        <form method="post" novalidate>
            {{ form_errors(form) }}

            {{ form_row(form.name) }}
            {{ form_row(form.url) }}
            {{ form_row(form.language) }}
            {{ form_row(form.position) }}

            {{ form_rest(form) }}

            <button class="btn" type="submit">
                Create this theme
            </button>
        </form>
    </div>
{% endblock %}
