{% extends 'app/base.html.twig' %}

{% block title %}{{ theme.name }} - Geoffrey Huck{% endblock %}
{% block canonical %}<link rel="canonical" href="{{ site_url }}{{ path('theme_show', { url: theme.url }) }}" />{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ theme.name }}</h1>

        {% for article in articles %}
            <hr />

            <h2>
                <a href="{{ path('article_show', { url: article.url }) }}">
                    {{ article.title }}
                </a>
            </h2>
            <span>{% trans %}Published on{% endtrans%} {{ article.publishedAt | date('d/m/Y') }}</span>
            <br /><br />

            {{ article.preview | raw }}
            <p>
                <a href="{{ path('article_show', { url: article.url }) }}">{% trans %}Read more...{% endtrans %}</a>
            </p>
        {% endfor %}
    </div>
{% endblock %}
