<ul class="main-menu">
    <li>
        <a href="{{ path('theme_show', { url: 'software-performance' }) }}">
            Software Performance
        </a>
    </li>
    <li>
        <a href="{{ path('theme_show', { url: 'deep-learning' }) }}">
            Deep Learning
        </a>
    </li>
    <li>
        <a href="{{ path('article_show', { url: 'about-me' }) }}">
            About Me
        </a>
    </li>
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <li>
            <a href="{{ path('theme_list') }}">Themes</a>
        </li>
        <li>
            <a href="{{ path('language_list') }}">Languages</a>
        </li>
        <li>
            <a href="{{ path('app_logout') }}" class="logout">Logout {{ app.user.email }}</a>
        </li>
    {% endif %}
</ul>
